.main-img{
    width: 20%;
    display: flex;
justify-content: center;
}

footer{
    text-align: center;
    padding: 30px;
    box-shadow: 3px 3px 3px maroon;
}
.pro-img{
    width: 95%;
}
.photo-grid {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 20%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }